<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="DBCONN" connectionString="Data Source=LAPTOP-401;Initial Catalog=Library;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <appSettings>
    <add key="MOCKORDB" value="Mock"/>
  </appSettings>
</configuration>
